---
import Layout from '../layouts/Layout.astro';
---

<Layout page="blog">
  <div class="not-prose">
    <h1 class="text-5xl font-medium tracking-tight mb-4">Blog</h1>
    <p class="text-gray-400">Coming soon.</p>
  </div>
</Layout>